@import "../../../styles/vars";

.header__topWrap {
    background-color: $colorDarkBlue;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;

    @media (max-width: 768px) {
        display: none;   
    }
}

.menuInfo {
    display: flex;
    align-items: center;
}

.menuInfo__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.menuInfo__link {
    font-size: 13px;
    line-height: 15px;
    color: white;
    transition: color .2s linear;

    &:hover {
        color: $colorGreen;
    }
}